@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200&display=swap');
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


h1{
    font-size: 50px;
}
.d-flex{
    display: flex;
    margin-bottom: 5%;
}
.top-section{
   
   background-repeat: no-repeat;
   padding-top: 50px;
}
.Develop-section{
    background-color: #f0f0f0;
    padding: 50px 0;
    
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.orenge-color{
  color: orange;
}

.all-btn{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(green, orange);
    color: #fff;
    border-radius: 5px;
}
.half-width h2{
    color: green;
}

.mission {
    color: brown;
    
    
}
.mission2{
    text-align: center;
}


 h2{
    font-size: 34px;
}



.testimonial{
    padding-top: 50px;
    padding-bottom: 100px;
}
.container{
    width: 80%;
    margin: auto;
}
.row{
    display: flex;
}
.col-3{
    width: 31%;
    margin: 15px;
    padding-top: 20px;
    padding-bottom: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 12px 18px 30px #999;
    display: flex;
}

.col-3 img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 25px;
    background: gainsboro;
    margin-left: 10px;
}

.footer-page{
    background-color: black;
    margin: 0%;
    text-align: center;
    color: white;
    height: 220px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.year{
    color: coral;
}